html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, label, canvas, footer, header, section, video {
  border: 0;
  font: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: baseline;
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #1a0532; }

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 20rem;
  height: 100%;
  max-width: 20rem;
  color: #b0b0b0;
  background-color: #fff;
  font: 1rem/1.5rem "Microsoft Yahei",Arial;
  overflow: hidden;
  -webkit-font-smoothing: antialiased; }

button {
  outline: none; }

ol, ul {
  margin: 0;
  padding: 0; }

ol, ul, li {
  list-style: none; }

i {
  font-style: normal; }

a {
  outline: none;
  text-decoration: none; }

.clear-fix:before, .clear-fix:after {
  content: "";
  display: block; }

.clear-fix:after {
  clear: both; }
